*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

body{

    margin: 0;
    padding: 0;
    background-color:darkgray;
}

header{

    padding: 50px;
    background-color:rgb(41, 39, 39);
    text-align: center;
    color: white;

}

section{

    max-width: 30em;
    margin: 1em auto;
    background-color: bisque;
    padding: 1em;
    width: 90%;
    border: 1px solid black;
    
}

